 html {zoom: 170%;}

body {margin: 0;
background: url(https://cdn.discordapp.com/attachments/795758905904988200/835093415544225822/blue-copy-space-digital-background_23-2148821698.png) no-repeat 50% fixed;
background-size: cover;
color: #fff;
}
img {
    user-select: none;
}
span.cls_003{font-family:Times,serif;font-size:28.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:28.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_004{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_006{font-family:Times,serif;font-size:11.1px;color:rgb(141, 52, 0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:11.1px;color:rgb(141, 52, 0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_019{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_019{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_002{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_147{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_147{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_012{font-family:Arial,serif;font-size:9.0px;color:rgb(114,170,35);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:9.0px;color:rgb(114,170,35);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_014{font-family:Times,serif;font-size:9.0px;color:rgb(232,17,35);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Times,serif;font-size:9.0px;color:rgb(232,17,35);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_017{font-family:Arial,serif;font-size:9.0px;color:rgb(232,17,35);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:9.0px;color:rgb(232,17,35);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_022{font-family:Times,serif;font-size:9.0px;color:rgb(184,89,33);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_022{font-family:Times,serif;font-size:9.0px;color:rgb(184,89,33);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_021{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_021{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_020{font-family:Times,serif;font-size:7.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_020{font-family:Times,serif;font-size:7.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
